.navBar {
    width: 100%;
    height: 70px;
    zoom: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #1e1e38;
}

.title {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    height: 50px;
    font-weight: bold;
}


.slideBar {
    position: fixed;
    z-index: 1000;
    zoom: unset;
    height: 100%;
    background-color: #1e1e38;
    transition: 1s;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.slideBar-on {
    width: 300px;
}

.slideBar-off {
    width: 70px;
}


.slideBar_button {
    margin-top: 10px;
    font-size: 30px;
    background: none;
    border: 2px #e8e8fc solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 1s;
    align-self: flex-end;
    margin-right: 5px;
    color: #e8e8fc;
}

.slideBar_button-on {
    transform: rotate(180deg);
}

.slideBar_button-off {
    margin-bottom: 20px;
}


.countVisitedCountriesOn {
    margin-top: 40px;
}

.countVisitedCountriesOff {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #e8e8fc solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}

.numberOfCountries {
    font-size: 18px;
    font-weight: bold;
}

.percentVisitedCountriesOn {
    margin-top: 20px;
    margin-bottom: 40px;
}

.percentVisitedCountriesOff {
    width: 50px;
    height: 50px;
    border: 1px #e8e8fc solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.listVisitedCountries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}