.navBar_Continents {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}

.continent {
    width: calc((1/7) *100%);
    border: black solid 2px;
    text-align: center;
}